<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/vue-material@beta/dist/vue-material.min.css">
    <link rel="stylesheet" href="https://unpkg.com/vue-material@beta/dist/theme/default.css">

    <title>IOTZ UI Default</title>
</head>
<body>
    <div id="app">
        <md-list>
            <md-list-item>
                <span class="md-list-item-text">LED_BUILTIN</span>
                <md-switch v-model="LED_BUILTIN"></md-switch>
            </md-list-item>
            <md-list-item>
                <span class="md-list-item-text">D3</span>
                <md-checkbox v-model="D3"></md-checkbox>
            </md-list-item>
        </md-list>
    </div>

    <script src="assets/scripts/vendor/vue.js"></script>
    <script src="https://unpkg.com/vue-material@beta"></script>
    <script src="/iotz.js"></script>
    <script>
        IOTZ.init(function (state, actions) {
            console.log(state, actions);

            Vue.use(VueMaterial.default)

            app = new Vue({
                el: '#app',
                data: state,
                methods: actions,
            });
        });
    </script>
</body>
</html>
